<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>AIUpscalerXPCV2</string>
	<key>CFBundleExecutable</key>
	<string>AIUpscalerXPCV2</string>
	<key>CFBundleIdentifier</key>
	<string>info.regismelo.AIUpscalerV2.XPCService</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AIUpscalerXPCV2</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>PlugInKit</key>
	<dict>
		<key>Attributes</key>
		<dict>
			<key>com.apple.protocol</key>
			<string>FxPlug</string>
			<key>com.apple.version</key>
			<string>1.1</string>
		</dict>
		<key>PrincipalClass</key>
		<string>FxPrincipal</string>
		<key>Protocol</key>
		<string>PROXPCProtocol</string>
		<key>Subsystems</key>
		<array>
			<string>NSViewService_PKSubsystem</string>
		</array>
	</dict>
	<key>ProPlugDictionaryVersion</key>
	<string>1.0</string>
	<key>ProPlugDynamicRegistration</key>
	<false/>
	<key>ProPlugPlugInGroupList</key>
	<array>
		<dict>
			<key>groupName</key>
			<string>AI Upscaler</string>
			<key>uuid</key>
			<string>5B8B649F-678F-48ED-A762-ACC00BAE04C7</string>
		</dict>
	</array>
	<key>ProPlugPlugInList</key>
	<array>
		<dict>
			<key>className</key>
			<string>AIUpscalerPlugIn</string>
			<key>displayName</key>
			<string>AI Upscaler</string>
			<key>group</key>
			<string>5B8B649F-678F-48ED-A762-ACC00BAE04C7</string>
			<key>infoString</key>
			<string>On-device AI video upscaling</string>
			<key>protocolNames</key>
			<array>
				<string>FxFilter</string>
			</array>
			<key>uuid</key>
			<string>C1D48F7E-1867-42C3-9C89-9329EA2E1E9D</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
	</array>
	<key>XPCService</key>
	<dict>
		<key>JoinExistingSession</key>
		<true/>
		<key>RunLoopType</key>
		<string>_NSApplicationMain</string>
		<key>ServiceType</key>
		<string>Application</string>
		<key>_AdditionalSubServices</key>
		<dict>
			<key>viewbridge</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
